.container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   justify-content: space-evenly;
   margin: 100px 0 298px 0;
}

.search {
   display: flex;
   /* flex-direction: row; */
   justify-content: center;
}

.searchresults {
   display: flex;
   justify-content: center;
}

/* .forecastlink {
   display: flex;
   align-items: flex-end;
} */
